body{
    background-color: aqua;
}

h1{
    background-color: black;
}

#heading{
    color:red;
    font-size: xx-large;
    font-style: italic;
    
}

#calcProf{
    background-color: antiquewhite;
}

#physicsProf{
    background-color: blueviolet;
}

#chemProf {
    background-color: chocolate;
}

.headTable{
    font-size: x-large;
    font-style: oblique;
}

.container{
    display: flex;
    background-color: orangered;
    flex-direction: column;
    justify-content: center;
}

.element{
    margin: 8px;
    background-color: aqua;
    text-align: center;
    padding: 25px;
}

.alt_table {
    border-color: black;
    border-width: 5px;
}

